<% @page_title = 'Messages' %>
<% @page_actions = link_to("Create Message", new_site_message_path(@site)) %>

<table class="grid">
	<thead>
		<tr><th>Message</th><th>From</th><th>To</th><th>Date</th></tr>
	</thead>
	<tbody>
		<%= render @messages %>
	</tbody>
</table>


<%= will_paginate(@messages) %>