<% @page_title = "Create memberships" %>
<% form_tag create_many_site_memberships_path do %>
<%= raw error_messages_for @site %>
<ul class="form">
	<li>
		<%= label_tag :membership_emails, nil, :style => 'width:auto' %><br>
		<%= text_area_tag :membership_emails, nil, :style => 'width:50%; height:150px' %>
	</li>
	<li>
		<%= submit_tag 'Create Memberships' %>
	</li>
</ul>
<% end %>