- @page_title = 'Memberships'
%p
  = link_to_unless_current('Members', site_memberships_path(@site))
  |
  = link_to_unless_current('Invitations', site_invitations_path(@site))
%table.grid
  %thead
    %tr
      %th User
      %th Role
      %th Actions
  %tbody
    = render @memberships
