<% @page_title = 'Memberships' %>
<% @page_actions = raw [link_to("Add one", new_site_membership_path(@site)), link_to("Add many", build_many_site_memberships_path(@site))].join(' | ') %>

<table class="grid">
	<thead>
		<tr><th>User</th><th>Role</th><th>Actions</th></tr>
	</thead>
	<tbody>
		<%= render @memberships  %>
	</tbody>
</table>
<%= will_paginate @memberships %>