- @page_title = 'Memberships'
- @page_actions = link_to("Add member", new_site_membership_path(@site))
%p
  = link_to_unless_current('Members', site_memberships_path(@site))
  |
  = link_to_unless_current('Invitations', site_invitations_path(@site))
%table.grid
  %thead
    %tr
      %th User
      %th Role
      %th Actions
  %tbody
    = render @memberships
= will_paginate @memberships
