body {
  background: url("/images/bg_tile.png") repeat-x scroll 0 0 #b5d3e3; }

#sun {
  background: url("/images/sun.png") no-repeat scroll 0 0 transparent; }

#top_cloud {
  background: url("/images/top_cloud.png") no-repeat scroll center 0 transparent; }

#middle_cloud {
  background: url("/images/other_cloud.png") no-repeat scroll 95% 60% transparent;
  height: 100%; }

#bottom_cloud {
  background: url("/images/other_cloud.png") no-repeat scroll 5% 99% transparent;
  height: 100%; }

#header {
  position: relative;
  width: 96%;
  margin: auto; }

#nav {
  margin-bottom: 30px;
  position: relative; }
  #nav #nav_left {
    background: url("/images/nav/left.png") no-repeat scroll 0 0 transparent;
    padding-left: 20px; }
    #nav #nav_left #nav_right {
      background: url("/images/nav/right.png") no-repeat scroll 100% 0 transparent;
      padding-right: 20px; }
      #nav #nav_left #nav_right ul {
        background: url("/images/nav/bg.png") repeat-x 50% 0 #822018;
        height: 40px; }
        #nav #nav_left #nav_right ul li {
          display: inline; }
          #nav #nav_left #nav_right ul li a {
            display: inline-block;
            text-decoration: none;
            padding: 8px 5px;
            margin: 3px 10px;
            font-weight: bold;
            font-size: 1.1em;
            text-shadow: black -1px -1px; }
            #nav #nav_left #nav_right ul li a:hover {
              text-decoration: none;
              color: #ffff88; }

#body_wrapper {
  padding: 10px 25px; }

#footer {
  border-top: 2px solid #eeeeee;
  padding-top: 10px;
  font-size: 0.9em;
  text-align: center; }

a {
  color: #214278; }

.framework {
  margin: 0 auto;
  width: 96%; }

.shadow_box {
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  border-radius: 9px;
  -webkit-box-shadow: 0 5px 16px #77a2b9;
  -moz-box-shadow: 0 5px 16px #77a2b9;
  padding: 20px;
  background-color: #f8f5f0;
  margin-bottom: 2em; }

.site {
  border: solid 1px #aaaaaa;
  padding: 5px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  margin: 5px 5px 5px 0;
  background: #eaeaea;
  width: 42%;
  display: inline-block;
  vertical-align: top; }

.headline {
  text-align: center;
  font-family: palatino;
  color: #0d374b;
  margin-top: 0; }

#page_title {
  font-size: 2em;
  font-family: palatino;
  color: #0d374b;
  margin-top: 0.25em; }

h1.headline {
  font-size: 3em; }

h2.headline {
  font-size: 2em; }

h3.headline {
  font-size: 1.5em; }

.chevron {
  margin: 10px 0 15px -26px;
  padding-left: 10px;
  background: url("/images/chevron.png") no-repeat scroll 0 0 transparent;
  height: 50px; }
  .chevron h4 {
    padding: 5px;
    color: white;
    font-size: 1.3em;
    line-height: 1.8em;
    text-shadow: 1px 1px 2px black; }

ul.bullets {
  list-style: disc outside none;
  margin-left: 2em; }
  ul.bullets li {
    margin-bottom: 5px; }

.poetry {
  font-size: 0.9em;
  text-align: center;
  color: #4b4b4b;
  margin-bottom: 25px; }

a.primary_action {
  display: block;
  background: url("/images/primary_button_bg.png") repeat-x scroll 0 0 #822018;
  padding: 10px 20px;
  color: white;
  text-shadow: 1px 1px #220000;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1em;
  -moz-border-radius: 14px;
  border-radius: 14px;
  -webkit-box-shadow: 3px 3px 5px #888888;
  -moz-box-shadow: 3px 3px 5px #888888;
  margin: auto;
  width: 100px;
  text-align: center; }
