body {
  background: #f4f5ff; }

blockquote {
  margin: 1em 2em; }

#outside_wrapper {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bdd1f2', endColorstr='#f4f5ff');
  background: -webkit-gradient(linear, left top, left bottom, from(#bdd1f2), to(#f4f5ff));
  background: -moz-linear-gradient(top, #bdd1f2, #f4f5ff); }

#inside_wrapper {
  height: 100%;
  background: url("/images/nav/bg.png") repeat-x 50% 87px transparent; }

#body_wrapper {
  padding: 0px 45px 20px; }

#header {
  position: relative;
  width: 96%;
  height: 88px;
  margin: auto; }
  #header #logo {
    position: relative; }
    #header #logo .tagline {
      position: absolute;
      left: 200px;
      bottom: 8px; }

#nav {
  margin-bottom: 30px;
  position: relative; }
  #nav #nav_left {
    padding-left: 20px; }
    #nav #nav_left #nav_right {
      padding-right: 20px; }
      #nav #nav_left #nav_right ul {
        height: 40px; }
        #nav #nav_left #nav_right ul li {
          display: inline; }
          #nav #nav_left #nav_right ul li a {
            display: inline-block;
            text-decoration: none;
            padding: 5px 5px;
            margin: 3px 10px;
            font-weight: bold;
            font-size: 1.38em;
            text-shadow: #9a5a00 -1px -1px; }
            #nav #nav_left #nav_right ul li a:hover {
              text-decoration: underline; }

#user_nav {
  border: 1px solid #4b6350;
  border-top: 0;
  top: 0;
  padding: 8px 20px;
  background-color: white;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 7px;
  -moz-border-radius-bottomleft: 7px;
  -webkit-border-bottom-right-radius: 7px;
  -webkit-border-bottom-left-radius: 7px;
  -webkit-box-shadow: 0 5px 16px #4b6350;
  -moz-box-shadow: 0 5px 16px #4b6350;
  border-radius-bottom-right: 5px;
  border-radius-bottom-left: 5px;
  opacity: 0.6;
  filter: alpha(opacity=60); }

#footer {
  border-top: 2px solid #eeeeee;
  padding-top: 10px;
  font-size: 0.9em;
  text-align: center; }

a {
  color: #113268; }

.callout {
  background-color: #ffff88;
  -moz-box-shadow: 2px 2px 5px #888888;
  -webkit-box-shadow: 2px 2px 5px #888888;
  border: solid 1px #afae96; }

blockquote {
  text-align: center;
  font-size: 1.2em;
  margin-bottom: 10px;
  color: #666666;
  padding: 5px;
  border: solid 1px #aaaaaa;
  -moz-border-radius: 14px;
  border-radius: 14px;
  line-height: 1.5em; }

.framework {
  margin: 0 auto;
  width: 100%; }

.shadow_box {
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  border-radius: 9px;
  border: solid 1px #aaaaaa;
  padding: 20px;
  background-color: #fafafa;
  margin-bottom: 2em; }
  .shadow_box #logo {
    text-align: center; }
  .shadow_box img.framed {
    border: 12px solid white;
    -moz-box-shadow: 2px 2px 5px #888888;
    -webkit-box-shadow: 2px 2px 5px #888888; }
  .shadow_box form {
    margin: 1em 0; }

.right .shadow_box form label {
  width: 80px;
  display: inline-block; }
.right .shadow_box form .indent {
  padding-left: 85px; }

.site {
  padding: 15px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border: solid 1px #ddd8d1;
  margin: 5px 5px 15px 0;
  background: white;
  width: auto;
  line-height: 1.4em; }
  .site h3 {
    font-size: 1.3em;
    margin: 0; }
  .site p {
    margin: 0;
    margin-left: 94px;
    margin-bottom: 0.5em; }
  .site .logo {
    float: left;
    margin-right: 10px;
    width: 64px;
    text-align: center;
    overflow: hidden;
    padding: 10px; }
  .site .info {
    color: #666666;
    float: right;
    font-size: 0.9em; }
  .site .event .info {
    font-size: 1em;
    float: none; }

.comment {
  padding: 0.5em;
  margin-left: 1px;
  margin-bottom: 1em;
  font-size: 0.9em; }

.headline {
  text-align: center;
  font-family: Verdana;
  color: #4674a3;
  margin-top: 0;
  text-shadow: 1px 1px 0px black; }

#page_title {
  font-size: 2em;
  font-family: "Droid Sans", Arial, sans-serif;
  color: #18201a;
  margin-top: 0.25em;
  text-shadow: 0 0 5px white; }

h1.headline {
  font-size: 3em; }

h2.headline {
  font-size: 2em; }

h3.headline {
  font-size: 1.5em; }

.chevron {
  margin: 10px 0 15px -26px;
  padding-left: 10px;
  background: url("/images/chevron2.png") no-repeat scroll 0 0 transparent;
  height: 50px; }
  .chevron h4 {
    padding: 5px;
    color: white;
    font-size: 1.3em;
    line-height: 1.65em;
    text-shadow: 1px 1px 2px black; }

ul.bullets {
  margin-left: 2em; }
  ul.bullets li {
    margin-bottom: 10px; }

.poetry {
  font-size: 0.9em;
  text-align: center;
  color: #4b4b4b;
  margin-bottom: 25px; }

a.primary_action {
  display: block;
  background-color: #448855;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#448855', endColorstr='#346840');
  background: -webkit-gradient(linear, left top, left bottom, from(#448855), to(#346840));
  background: -moz-linear-gradient(top, #448855, #346840);
  padding: 10px 20px;
  color: white;
  text-shadow: 1px 1px #220000;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.3em;
  line-height: 2em;
  -moz-border-radius: 14px;
  border-radius: 14px;
  -webkit-box-shadow: 2px 2px 5px #888888;
  -moz-box-shadow: 2px 2px 5px #888888;
  margin: 50px auto;
  width: 140px;
  text-align: center; }
