<% if page.children_visible && page.children_visible.length > 0 %><% class_parent = ' class="parent"' %><% end %>
<li<%= class_parent%>>
	<%= link_to_unless_current "#{page.title}<br>", page.uri %>
	<% if page.children_visible && page.children_visible.length > 0 %>
		<ul>
	    	<% for pg in page.children_visible %>
				<%= render 'site/partials/nav_button', :page => pg, :pages_to_ignore => pg.ancestors  %>
	   		<% end %>
		</ul>
	<% end %>
</li>