<% form_for([@site, @document], :html => {:multipart => true}) do |f| %>
<%= raw error_messages_for @document %>
<ul class="form">
	<li>
		<%= f.label :file %>
		<%= f.file_field :file %>
	</li>
	<li class="indent">
		<%= f.submit button_value %>
	</li>
</ul>
<% end %>