<% @page_title = "Documents" %>
<% @page_actions = link_to("Create Document", new_site_document_path(@site)) %>

<table class="grid">
	<thead>
		<tr><th>Document</th><th>Create Date</th><th>Attached</th><th>Actions</th></tr>
	</thead>
	<tbody>
		<%= render @documents  %>
	</tbody>
</table>
<%= will_paginate @documents %>