Hi <%= @name %>,

This is a reminder for <%= @page.title %> on <%= @page.event_date.strftime "%m/%d/%Y" %> being sent to you by <%= @domain.display_name %>

Please visit <%= @url %> to get more information about this event.