Hi <%= @name %>,

I see you created a site on <%= @domain %>.  That's great!  I hope it works out for you.

With your new site, you can create pages, add images, style the site as you like and let others help build the site.

If you have any questions, please don't hesitate to contact me.  I'm looking forward to hearing your suggestions and comments.

Good luck!

- Mark