Hi <%= @name %>,
<p>
I see you created a site on the Kid Report.  That's great!
</p>
<p>
With your new site, you can...</p>
<ul>
<li>Create pages</li>
<li>Attach documents</li>
<li>Add members to the site</li>
<li>Send messages to the members</li>
</ul> 
<p>
If you have any questions, please don't hesitate to contact me (you can reach me directly at mark@thekidreport.org).  I'm looking forward to hearing your suggestions and comments.
</p>
<p>
Good luck!
</p>
<p>
- Mark</p>