%tr
  %td
    = log_entry.created_at.to_s(:short)
  %td
    %b= log_entry.user.display_name
    = log_entry.friendly_description
    - if log_entry.loggable.respond_to?(:page)
      %b= link_to_if (log_entry.loggable.page.not_deleted), log_entry.loggable.page.name, permalink_path(log_entry.loggable.page.site.permalink, log_entry.loggable.page.permalink)
    
