<div class="shadow_box">
<table class="grid">
<thead>
	<tr><th>User</th><th>Email</th><th style="text-align:center; width:60px">Sign Ins</th><th style="text-align:center; width:60px">Admin</th><th>Sites</th></tr>
</thead>
<%= render @users %></table>

<%= will_paginate @users %>
</div>