<% @page_title = 'About us' %>
<p>
The Kid Report was originally built in 2007 and upgraded in December of 2010.  It was originally built for teachers in the Seattle area but it's not limited to any geographic area.
</p>
<p>
This site will always be free and free of ads.  The Kid Report is a volunteer effort, built purely to help out teachers and other parents.  It helps save the teachers some time and makes it easier for the parent to find important information when it's needed.
</p>
<p>
	If you are interested in learning more about the Kid Report, please write us at info@thekidreport.org.
</p>