<% @page_title = 'About us' %>
<p>
	The Kid Report was originally built in 2007 and upgraded in December of 2010 to use the latest Ruby on Rails technology.  I originally built the site for my children's teachers, it as since spread to other teachers and classrooms in the Seattle area.
</p>
<p>
	I have no commercial ambitions for the site - it will always be free and free of ads.  I am working on The Kid Report purely to help out teachers and other parents.  Hopefully this helps reduce the amount of paper that gets sent home by the teacher and makes it easier for the parent to find information when it's needed.
</p>
<h3>Contributors wanted</h3>
<p>
	I am looking for help building The Kid Report.  I am looking for someone who is active in the Seattle Education community who likes to blog or network and would like to help raise awareness around the useful tools provided on the Kid Report site.  I am also looking for a graphic designer to give The Kid Report a professional image.
</p>