<% @page_title = 'About us' %>
<p>
	The Kid Report was originally built in 2007 and upgraded in December of 2010 to use the latest Ruby on Rails technology.  I originally built the site for my children's teachers, it as since spread to other teachers and classrooms in the Seattle area.
</p>
<p>
	I am a web developer with many years experience building sites for large companies such as ESPN, Microsoft, Disney, as well as many Seattle startups and small businesses.  I have no commercial ambitions for the site - it will always be free and free of ads.  The Kid Report is fun to work on, and I am working on it purely to help out teachers and other parents.  Hopefully this helps reduce the amount of paper that gets sent home by the teacher and makes it easier for the parent to find information when it's needed.
</p>
<h3>Contributors wanted</h3>
<p>
	If you are interested in contributing, I am looking for help building The Kid Report.  I am looking for someone who is active in the Seattle Education community who likes to blog or network and would like to help raise awareness about the Kid Report and the useful tools that are available to classrooms and teachers at no cost.  I am also looking for a graphic designer who would like to donate their time to give The Kid Report a professional image that reflects the importance of educating our kids as a team effort and makes visiting The Kid Report website more aesthetically appealing.
</p>
<p>
	- Mark Swardstrom (mark@thekidreport.org)
</p>