<% @page_title = 'About us' %>
<p>The Kid Report is a not-for-profit website for teachers. It's a service that allows teachers to build a website for their classrooms and it gives parents a place to find information when they need it.</p>
<p>This site was orginally built in 2007 for a handful of classrooms based on the requests of some teachers at John Hay Elementary, but it has spread organically and grown significantly in the past 3 years.  We are searching for partners to help develop the concept and expand the project. </p>
<p>We are looking for professionals who would like to contribute in a part-time or short-term basis; specific areas may include promotion, website feature definition, marketing, non-profit management, etc.</p>
<p>The Kid Report will not take subscriptions or money, but may take grant funding in the future. It is based on the fundamental belief that teachers can empower parents to help with their kids' education. The effort should not solely rest on the teachers' shoulders, instead it should be shared, with the teachers expertise driving the classroom and curriculum.</p>
<p>The Kid Report was built through volunteer efforts, using the latest open source technologies. It is used for free by teachers and parents.</p>
<p>For more information, please write</p>	
<p><%= mail_to 'info@thekidreport.org', 'info@thekidreport.org' %></p>
</p>