- @page_title = 'About us'
.shadow_box
  %p The Kid Report is an #{link_to 'open source', 'https://github.com/thekidreport/The-Kid-Report'} and non-profit project. It's a service that allows teachers, coaches, and other leaders and mentors to build a website so parents have a place to find information when they need it.
  %p Parent Involvement is in our opinion the most effective and efficient way to improve kids performance at school and other activities.  The Kid Report aims to increase parent involvement by providing free teacher websites and messaging tools.  These tools help to inform busy, difficult-to-reach parents and keep them involved with their kid's school environment.  Sometimes, just asking the right question will be enough to remind a child of their responsibility in school.
  %p This site was built through volunteer efforts, using the latest open source technologies.  It is improving regularly, based on our users' feedback.  It is used for free by teachers and parents.
  %p For more information, please write
  %p= mail_to 'info@thekidreport.org', 'info@thekidreport.org'