<% @page_title = 'About us' %>
<div class="shadow_box">
<p>The Kid Report is an open-source and non-profit project. It's a service that allows teachers, coaches, and other leaders and mentors to build a website so parents have a place to find information when they need it.</p>
<p>This site was built through volunteer efforts, using the latest open source technologies. It is used for free by teachers and parents.</p>
<p>For more information, please write</p>	
<p><%= mail_to 'info@thekidreport.org', 'info@thekidreport.org' %></p>
</div>