<% @page_title = 'About us' %>
<p>
	The Kid Report was originally built in 2007 and upgraded in December of 2010 to use the latest Ruby on Rails technology.  I originally built the site for my children's teachers and classrooms, it spread a little to other teachers and classrooms in the Seattle area.
</p>
<p>
	I am a web developer with many years experience building sites for large companies such as ESPN, Microsoft, Disney, as well as many Seattle startups and small businesses.  This site will always be free and free of ads.  The Kid Report is fun to work on, and I am working on it purely to help out teachers and other parents.  Hopefully this helps reduce the amount of paper that gets sent home by the teacher and makes it easier for the parent to find important information when it's needed.
</p>
<h3>Contributors wanted</h3>
<p>
	If you are interested in contributing, I am looking for help building The Kid Report.  Software developers would be welcome - I have other features in mind, such as a calendar, photo gallery, paypal acceptance (for teachers to receive money from parents for field trips and things).  If you would like to contribute as a developer, just let me know.  I am also looking for someone who is active in the Seattle Education community who likes to blog or network and would like to help raise awareness about the Kid Report and the useful tools that are provided to classrooms and teachers at no cost.  And, I am looking for a graphic designer who would like to donate their time to give The Kid Report a professional image that reflects the importance of educating our kids as a team effort and makes visiting The Kid Report website more aesthetically appealing.  If you can think of other ways to contribute, I'm interested to hear your thoughts.
</p>
<p>
	- Mark (mark@thekidreport.org)
</p>