<% @page_title = 'About us' %>
<p>
The Kid Report was originally built in 2007 and upgraded in December of 2010.  It was originally built for teachers we knew in the Seattle area and its mainly spread by word of mouth.
</p>
<p>
This site will always be free and free of ads.  The Kid Report is a volunteer effort, built purely to help out teachers and other parents.  Hopefully this helps reduce the amount of paper that gets sent home by the teacher and makes it easier for the parent to find important information when it's needed.
</p>
<p>
	If you are interested in learning more about the Kid Report, please write us at info@thekidreport.org.
</p>