<% @page_title = 'About us' %>
<p>
	The Kid Report is a not-for-profit website for teachers.  It's a service that allows teachers to update parents online and gives parents a place to find information when they need it.
</p><p>
	It was orginally built for my 2 kids and their classrooms, but it has grown, and I am searching for advisers, collaborators, and contributors to help expand the project.
</p><p>
	I'm looking for people that have ideas about teachers and technology, and would like to collaborate on this web-based project - specific areas may include promotion, website feature definition, marketing, non-profit management, etc.  The Kid Report will not take subscriptions or money, but may take grant funding in the future.  It is based on the fundamental belief that teachers can empower parents to help with their kids' education.  The effort should not solely rest on the teachers' shoulders, instead it should be shared, with the teachers expertise driving the classroom and curriculum.
</p><p>
	The Kid Report was built through volunteer efforts, using the latest open source technologies.  It is used for free by teachers and parents.
</p><p>
	If this is an interesting project and you would like to be involved, I would love to have your input.  
</p><p>
	Thanks,
</p><p>
	- Mark<br>
	<%= mail_to 'mark@thekidreport.org', 'mark@thekidreport.org' %>
</p>