<% @page_title = 'About us' %>
<p>The Kid Report is a not-for-profit website for teachers. It's a service that allows teachers to build a website for their classrooms and it gives parents a place to find information when they need it.</p>
<p>This site was built through volunteer efforts, using the latest open source technologies. It is used for free by teachers and parents.</p>
<p>For more information, please write</p>	
<p><%= mail_to 'info@thekidreport.org', 'info@thekidreport.org' %></p>
