<% @page_title = 'About us' %>
<p>
	The Kid Report was built to help teachers communicate with parents and to help parents find information when they need it.  Teachers have more time to do what they do best - work with the kids.
</p>
<p>
	This website was originally built by a parent at John Hay Elementary in Seattle.  It is a free site, supported by donations (ideally) and volunteers (other than the earlier mentioned dad).  It is available for free to anyone that needs a site for their classroom.
</p>
<p>
	I hope it helps you.  Thanks for using the Kid Report!
</p>