- @page_title = 'Looking for Advisors and Partners'
%p The Kid Report was originally built in 2007 for a handful of classrooms at John Hay Elementary in Seattle.  It has spread organically and grown in the past 3 years, thanks to the word of mouth from the teachers and parents that use the site.
%p
  If you have suggestions for how the Kid Report can improve, please #{link_to 'let us know', new_feedback_path}
