- @page_title = 'Advisors Wanted'
.shadow_box
  %p If you are a teacher and you are using the Kid Report, please let us know if you would like to be more formally involved as an advisor.  We would love to have your input on a regular basis.  The site couldn't be built without the feedback and input from the Teachers and Parents we work with every day.
  %p Please send a note to #{ mail_to 'info@thekidreport.org', 'info@thekidreport.org' } to learn more.