<% @page_title = 'Looking for Advisors and Partners' %>
<p>The Kid Report was originally built in 2007 for a handful of classrooms at John Hay Elementary in Seattle.  It has spread organically and grown in the past 3 years.  We are searching for partners to help develop the concept and expand the project. </p>
<p>We are looking for professionals who would like to contribute to the Kid Report in a part-time or short-term basis.</p>
<p>The Kid Report will not take subscriptions or money, but may apply for grants. It is based on the fundamental belief that teachers can empower parents to help with kids' education. The effort should not solely rest on the teachers' shoulders, instead it should be shared, with the teachers expertise driving the classroom and curriculum.  We want to build the best free site for teachers we can and would like the help from others that feel the same way.</p>
<p>If are interested in contributing, please write.</p>	
<p><%= mail_to 'info@thekidreport.org', 'info@thekidreport.org' %></p>
