- @page_title = 'Privacy Policy'

 

.shadow_box
  The Kid Report is committed to respecting the privacy of the personal information of the individuals with whom we interact.  


  %ol
    %li 

      %p Collection of Your Personal Information. In order to access and use certain services on the Website, The Kid Report will ask you to provide personal information, such as, but not limited to, your electronic mail address, name, work or home address, or telephone number. The Kid Report may also collect demographic information, such as your ZIP code, age, gender, taste preferences, interests and favorites. 

      %p In order to access and use the Product, you will also be asked to sign in with an electronic mail address and password. 

 

    %li 
      %p The Kid Report may collect information about your interaction with the Website and the Product. For example, we may use website analytics tools on the Website to retrieve information from your browser, including the site from which you entered the Website, the search engine(s) and the keywords you used to find the Website, the web pages you view within the Website, your browser add-ons, and your browser's width and height. The Kid Report may also use technologies, such as cookies, to collect information about the pages you view, the links you click and other actions you take on the Website and during your use of the Product. Additionally, The Kid Report collects certain standard information that your browser sends to every website you visit, such as your IP address, browser type and language, access times and referring website addresses.  When you send electronic mail or other communications to The Kid Report or through use of the Product, we may retain those communications in order to process your inquiries, respond to your requests and improve the Product.

      %p The Kid Report may send emails or newsletters and may use customized links or similar technologies to determine whether the e-mail has been opened and which links you click in order to provide you more focused e-mail communications or other information.

 

    %li 
      %p Use of Your Personal Information.  The Kid Report collects and uses your personal information to operate and improve the Website and the Product. These uses may include but are not limited to, providing you with more effective Product; making the Website or the Product easier to use; and performing research and analysis aimed at improving the Product.

      %p The Kid Report also uses your personal information to communicate with you. The Kid Report may send certain mandatory service communications such as welcome letters, reminders, information on technical service issues, and security announcements. Some of the Product may send periodic emails that are considered part of the Product.

 

    %li 
      %p Sharing of Your Personal Information.  Except as described in this statement, The Kid Report will not disclose your personal information outside of The Kid Report and its controlled subsidiaries and affiliates without your consent. Notwithstanding anything to the contrary, The Kid Report may disclose your personal information if The Kid Report has a good faith belief that access, use, preservation or disclosure of such personal information is reasonably necessary to (a) satisfy any applicable law, regulation, legal process or enforceable governmental request, (b) enforce applicable Terms of Use, including investigation of potential violations thereof, (c) detect, prevent, or otherwise address fraud, security or technical issues, or (d) protect against harm to the rights, property or safety of The Kid Report, its users or the public as required or permitted by law.

    %li
      %p Accessing Your Personal Information.  You may have the ability to view or edit your personal information online. In order to help prevent your personal information from being viewed by others, you will be required to sign in with your credentials (e-mail address and password).

    %li
      %p Security of Your Personal Information.  The Kid Report, its licensees and/or it licensors are committed to protecting the security of your personal information. The Kid Report use a variety of security technologies and procedures that are intended and expected without warrantying same to help protect your personal information from unauthorized access, use, or disclosure. The Kid Report transmits all information over the Internet through the use of encryption, such as the Secure Socket Layer (SSL) protocol.

      %p If a password is used to help protect your accounts and personal information, it is your responsibility to keep your password confidential. Do not share this information with anyone. If you are sharing a computer with anyone you should always log out before leaving a site or service to protect access to your information from subsequent users.

    %li
      %p Use of Cookies.  The Kid Report uses "cookies" to enable you to access and use the Website and to sign in to the Product.  A cookie is a small text file that is placed on your hard disk by a web page server. Cookies contain information that can later be read by a web server in the domain that issued the cookie to you.  One of the primary purposes of cookies is to store your preferences and other information on your computer in order to save you time by eliminating the need to repeatedly enter the same information and to display your personalized content on your later visits to the Website.