- @page_title = 'Terms of Use and Licensing Agreement'

 
.shadow_box
  %h3 TERMS OF USE

  %p This agreement governs your use of the Kid Report website (“the Website”) which is licensed exclusively by The Kid Report, Inc. (“The Kid Report”). If you want to learn about usage rights for our online software and services (the “Product”), please read our License Agreement.

  %p Access and use of the Website is provided by The Kid Report to you on the express condition that you accept these Terms of Use, and by accessing or using the Website, you expressly agree to these Terms of Use. If you do not agree to accept and abide by these Terms of Use you should not access or use the Website.

  %p The Kid Report may revise and update these Terms of Use at any time and without notice and may revise, supplement or delete information, services and/or the resources contained in the website and reserves the right to make such changes without prior notification to past, current or prospective visitors. Your continued access or use of the Website after any such changes are made will constitute your irrevocable acceptance of such changes. 

 
  %ol
    %li 
      %p Use of the Site
      %p The Website and its content (the "Content") are intended expressly to facilitate communication between The Kid Report customers and the guest users of those customers.  You may not use the Website or the Content for any other purpose than that which is described herein. You are specifically prohibited from: (a) downloading, copying, or re-transmitting any part or all of the website or the Content without, or in violation of, a written license by or agreement with The Kid Report; (b) accessing the Content or any part of the Website by the use of, or in order to operate, any data mining, robots or similar data gathering or extraction methods; (c) manipulating or otherwise displaying the Content or any part of the Website by using framing or similar navigational technology; (d) registering, subscribing, unsubscribing, or attempting to register, subscribe, or unsubscribe any party for any The Kid Report product or service if you are not expressly authorized by such party and by The Kid Report to do so; and (e) using the Content or any part of the Website in any manner other than for its intended purpose.

      %p You are expressly prohibited from in any way interfering with the security of the Website, or otherwise abusing the Website or any system resources, services or networks connected to or accessible through the Website. You may only use the Website for purposes that are permitted by (a) these Terms of Use; and (b) any applicable law, regulation or generally accepted practices or guidelines in the relevant jurisdiction.

 

    %li  
      %p Intellectual Property

      %p All Content provided to you on the Website is the property of The Kid Report, and its licensors, and may be protected by intellectual property laws including laws relating to copyrights, trade-marks, trade-names, internet domain names, and other similar rights.

      %p Unless you have entered into a separate agreement with The Kid Report, such as a license agreement, any other use of the Content without The Kid Report' express written permission is prohibited.

      %p The Content may only be used and copied for personal or educational use and may not be sold by you for profit. You may not in any way modify the Content, and may not delete or obscure copyright and other intellectual property notices. It is expressly prohibited for you in any way to create derivative works from, or to otherwise exploit the Content in any way.  

 

    %li 
      %p Internet software or computer viruses

      %p Internet software or transmission problems could produce inaccurate or incomplete Content on the Website. While The Kid Report attempts to and believes that it maintains and uses the most up-to-date anti-virus software, computer viruses or other destructive programs could inadvertently be downloaded from the Website.

      %p The Kid Report shall not be, and is not, responsible or liable for any software, computer viruses or other destructive, harmful or disruptive files or programs that may infect or otherwise impact your use of your computer equipment or other property on account of your access to, use of, or browsing on the Website or your downloading of any of the Content from the Website. The Kid Report recommends that you install appropriate anti-virus or other protective software.

 

    %li 
      %p Website and Content Provided "As Is"

      %blockquote THE KID REPORT WEBSITE AND THE CONTENT ARE PROVIDED "AS IS" WITHOUT REPRESENTATION, WARRANTY OR CONDITION OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO THE IMPLIED REPRESENTATIONS, WARRANTIES OR CONDITIONS OF MERCHANTABILITY, OR FITNESS FOR A PARTICULAR PURPOSE. THE KID REPORT DOES NOT REPRESENT OR WARRANT THAT THE WEBSITE OR THE CONTENT WILL MEET YOUR REQUIREMENTS OR THAT YOUR USE OF THEM WILL BE UNINTERRUPTED OR ERROR FREE.

 

    %li 
      %p Limitation of Liability


      %blockquote YOU ASSUME ALL RESPONSIBILITY AND RISK FOR USE OF THE WEBSITE AND THE CONTENT HEREIN INCLUDING WITHOUT LIMITATION ALL OF THE INFORMATION CONTAINED THEREIN.  THE KID REPORT CANNOT GUARANTEE OR ACCEPT ANY RESPONSIBILITY OR LIABILITY FOR THE ACCURACY, CURRENCY OR COMPLETENESS OF THE CONTENT OR CONTENT ON THE WEBSITE.


      %blockquote IN NO EVENT SHALL THE KID REPORT OR ANY OF ITS DIRECTORS, OFFICERS, EMPLOYEES, SHAREHOLDERS, PARTNERS, SERVICE PROVIDERS OR AGENTS BE LIABLE FOR ANY INCIDENTAL, INDIRECT, PUNITIVE, EXEMPLARY, OR CONSEQUENTIAL DAMAGES WHATSOEVER (INCLUDING DAMAGES FOR LOSS OF PROFITS, INTERRUPTION, LOSS OF BUSINESS INFORMATION, OR ANY OTHER PECUNIARY LOSS) IN CONNECTION WITH ANY CLAIM, LOSS, DAMAGE, ACTION, SUIT OR OTHER PROCEEDING ARISING UNDER OR OUT OF THESE TERMS OF USE, INCLUDING WITHOUT LIMITATION YOUR USE OF, RELIANCE UPON, ACCESS TO, OR EXPLOITATION OF THE WEBSITE, THE CONTENT OR ANY PART THEREOF, OR ANY RIGHTS GRANTED TO YOU HEREUNDER, EVEN IF WE HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES, WHETHER THE ACTION IS BASED ON CONTRACT, TORT (INCLUDING NEGLIGENCE), INFRINGEMENT OF INTELLECTUAL PROPERTY RIGHTS OR OTHERWISE.

  
      %blockquote SOME JURISDICTIONS DO NOT ALLOW FOR THE LIMITATION OR EXCLUSION OF LIABILITY FOR INCIDENTAL OR CONSEQUENTIAL DAMAGES, SO THE ABOVE LIMITATION OR EXCLUSION MAY NOT APPLY TO YOU.  IN SUCH JURISDICTIONS, THE LIABILITY OF THE KID REPORT SHALL BE LIMITED TO THE GREATEST EXTENT PERMITTED BY LAW.  

 

    %li 
      %p Applicable law

  
      %p The Website is controlled, operated and administered by The Kid Report from within the State of Washington, in the United States of America, or by one of its licensees.  You acknowledge and agree that all matters relating to access to, or use of the Website and the Content shall be governed by the laws of the State of Washington and the federal laws of the United States of America applicable therein (without reference to conflicts of laws principles).  

 

    %li 
      %p General

  
      %p The Kid Report’ failure to insist upon or enforce strict performance of any provision of these Terms of Use shall not be construed as a waiver of that or any other provision or right, whether or not enumerated in these Terms of Use.

  
      %p If any provision or part thereof of these Terms of Use is wholly or partially unenforceable the parties or, in the event the parties are unable to agree, a court of competent jurisdiction, shall put in place thereof an enforceable provision or provisions, or part thereof, that as nearly as possible reflects the terms of the unenforceable provision or part thereof.  You also agree that any claims or disputes whatsoever arising hereunder shall be submitted to the exclusive jurisdiction and venue of the courts of the State of Washington or the federal district court sitting in Seattle, Washington and acknowledge that you do so voluntarily.  

 

    %li  
      %p Contact

      %p If you have concerns relating to the Website or these Terms of Use, please contact The Kid Report via electronic mail at info@thekidreport.org, or via telephone at (206) 354-6089. 


    %li 
      %p Use of Information Provided to The Kid Report

      %blockquote  ALL IDEAS, INCLUDING IDEAS FOR NEW PRODUCTS, SERVICES OR TECHNOLOGIES, PROCESSES, MATERIALS OR NEW PRODUCT NAMES SUBMITTED TO THE KID REPORT, REGARDLESS WHETHER OR NOT SOLICITED BY IT, WILL BE CONSIDERED THE PROPERTY OF THE KID REPORT, WHICH EXPRESSLY DENIES AND REJECTS ANY EXPECTATION OF CONFIDENTIALITY ON THE PART OF THE KID REPORT WITH THE PERSON OR PARTY, INCLUDING THE AGENT(S) OF THE PERSON OR PARTY, SUBMITTING THE IDEA.  SUBMITTING ANY SUCH IDEA OR INFORMATION TO THE KID REPORT THROUGH THE WEBSITE OR VIA E-MAIL OR BY ANY OTHER MEANS RELEASES THE KID REPORT FROM ANY AND ALL OBLIGATION(S) CONCERNING SUCH INFORMATION INCLUDING THE OBLIGATION TO TREAT THE IDEA OR INFORMATION AS CONFIDENTIAL.  THE KID REPORT MAY USE, DISCLOSE, DISTRIBUTE OR COPY THE IDEA OR INFORMATION AND MAY USE ANY IDEAS, CONCEPTS OR KNOW-HOW CONTAINED IN THE INFORMATION FOR ANY PURPOSE, INCLUDING COMMERCIAL PURPOSES, WITHOUT COMPENSATION TO YOU OR YOUR AGENTS. BY SUBMITTING ANY IDEA OR INFORMATION TO THE KID REPORT, THE PARTY SO SUBMITTING IT EXPRESSLY ASSURES THE KID REPORT, THAT THE INFORMATION IS TRUTHFUL, INDEMNIFIES THE KID REPORT AGAINST ANY ILLEGAL USE OF THE IDEA OR INFORMATION, AND ASSURES THE KID REPORT THAT DISCLOSURE OF THE INFORMATION DOES NOT VIOLATE THE LEGAL RIGHTS OF OTHERS.

 

    %li  
      %p Notice and Procedure for Making Claims of Infringement

      %p The Kid Report respects the copyright of others, and we ask our users to do the same. If you believe that The Kid Report has used or copied your work in violation of a copyright, or that it has violated your intellectual property rights, please notify The Kid Report in writing with an explanation of the violation that you believe may have occurred.  Please direct such communications as follows:

 

 
  %h3 LICENSE AGREEMENT

  %p This License Agreement is between you and The Kid Report, Inc. (“The Kid Report”), and governs your use of The Kid Report software, content and services, allowing you full access to the licensed portions of the website and use of the online electronic services, including access to and use of the software, images and templates necessary to provide such services, and any revisions and updates to such services (collectively, the “Product”). This License Agreement is in addition to the Terms of Use applicable to the website.

  %p Access to and use of the licensed portions of the website and the Product are provided by The Kid Report to you on the express condition that you must accept the terms and conditions of this License Agreement and the Terms of Use, and by accessing or using the licensed portions of The Kid Report Website (“the Website”) and the Product, you do in fact and deed expressly agree to the terms and conditions of this License Agreement and the Terms of Use. If you do not agree to accept and abide by this License Agreement and the Terms of Use, you should not access or use the licensed portions of the Website or the Product. In the event of any inconsistency between this License Agreement and the Terms of Use, the terms of this License Agreement shall govern.

  The Kid Report reserves the right, in its discretion, to change or modify all or any part of this License Agreement at any time, effective immediately upon notice published on the Website. Your continued use of the licensed portions of the Website or the Product after such notice constitutes your binding acceptance of the terms and conditions in this License Agreement, including any changes or modifications made by The Kid Report as permitted above. If at any time the terms and conditions of this License Agreement are no longer acceptable to you, you should immediately cease use of the licensed portions of the Website.

 
  %ol
    %li 
      %p Ownership and Grant of License

      %p Every aspect of the Website and the Product are the property of The Kid Report and its licensors and may be protected by intellectual property laws including laws relating to copyrights, trade-marks, trade-names, internet domain names, and other similar rights. 

      %p The Kid Report hereby grants to you a limited, non-exclusive, non-transferable worldwide license to access and use the website and the Product.

      %p Except as otherwise permitted under this License Agreement and any other agreement entered into with The Kid Report, you may not copy, reproduce, publish, lease, sublicense, rent, transfer, assign, reverse engineer, decompile, disassemble, create derivative works to be sold for profit from or in any way modify the Product or any portion thereof without prior written consent of The Kid Report. You may not remove any copyright, trademark, or other intellectual property rights notices from the Product, including from any documentation generated by the Product. A breach of any term in this Section will be considered a material breach of this License Agreement.

 

    %li 
      %p Registration Data and Account Security

      %p In consideration of your use of the Website and the Product, you agree to: (a) provide accurate, current and complete information about you as may be prompted by any registration forms on the Website ("Registration Data"); (b) maintain and promptly update the Registration Data, and any other information you provide to The Kid Report, to keep it accurate, current and complete; (c) maintain the security of your password and identification; (d) notify The Kid Report immediately of any unauthorized use of your account or other breach of security; (e) accept all responsibility for any and all activities that occur under your account; and (f) accept all risks of unauthorized access to the Registration Data and any other information you provide to The Kid Report.  

 

    %li 
      %p Use of Content

      %p In addition to the Product, you acknowledge that the Website contains or may contain information, software, photographs, illustrations, audio files, video files, animations, flash files, data files and other material (collectively, the "Content") which is protected by copyright, trademark or other proprietary rights of The Kid Report, its licensors and/or other third parties (including other licensees of the Product).

      %p Except as otherwise permitted under this License Agreement and any other agreement entered into with The Kid Report, you may not copy, reproduce, publish, lease, sublicense, rent, transfer, assign, reverse engineer, decompile, disassemble, create derivative works from or in any way modify the Content or any portion thereof without prior written consent of The Kid Report. A breach of any term in this Section will be considered a material breach of this License Agreement.

 

    %li 
      %p Rules of Conduct

      %p You agree that when using the Product you will not upload any image or communication to or via the Website for any purpose that is unlawful or not permitted by this License Agreement. 

      %p You understand and acknowledge that The Kid Report expressly disavows endorsement of any third-party communication or Content and that no communication of or by a third-party or Content is reviewed, screened or approved by us, and shall not be considered to be so.  As explained below, The Kid Report reserves the right for any reason to remove without notice any communication, Content or other material posted to or embedded within the Website.

      %p You also agree not to use the Website in any manner that could damage, disable, overburden, or impair this operation of, or interfere in any way with, the Website or with any other party's use and enjoyment of the Website or the Product. You agree not to gain, and not to attempt to gain unauthorized access to any other The Kid Report user accounts, computer systems or networks associated with the Website. You also agree not to obtain, and not to attempt to obtain, any materials or information through any means not intentionally made available or provided for through the Website.

 

    %li 
      %p Managing Content and Submissions

      %p The Kid Report does not claim ownership of the communications, information or materials you or other users of the Product add, upload, input, submit or embed in or to the website through use of the Product (each a "Submission" and collectively "Submissions"). However, by posting, uploading, inputting, providing, embedding or submitting your Submission you grant The Kid Report permission to use your Submission in connection with the website and the Product, including, without limitation, the license rights to: copy, distribute, transmit, reproduce, edit, translate and reformat your Submission for any commercial purpose, and no compensation will be paid by The Kid Report to any party with respect to the use of your Submission, as provided herein.

      %p By Posting a Submission you warrant and represent that you own or otherwise control all of the rights to your Submission as described in the Terms of Use, including, without limitation, all the rights necessary for you to provide, post, upload, input or submit the Submissions.

      %p The Kid Report does not, cannot and will not, review all Submissions or Content uploaded to the Website and is not responsible for the content of such Submissions or Content. Notwithstanding the foregoing, The Kid Report reserves the right to delete, move or edit any, Submissions or Content that it may determine, in its sole discretion, violates or may violate this License Agreement or is otherwise unacceptable. You shall remain solely responsible for all Submissions or Content uploaded under your user account. The Kid Report shall have the right but not the obligation to correct any errors or omissions in any Submissions or Content, as it may determine in its sole discretion. You acknowledge that any screening of Submissions or Content performed by The Kid Report is done as a courtesy only, and not in any way as an obligation.

      %p The Kid Report respects the intellectual property of others, and we ask our users to do the same. If you believe that your work has been copied in a way that constitutes copyright infringement, or your intellectual property rights have been otherwise violated, please provide The Kid Report with notice of such infringement in the manner described under Notice and Procedure for Making Claims of Infringement in the Terms of Use.  

 

    %li 
      %p Confidential Information

      %p You acknowledge that the Confidential Information (defined below) which you obtain by agreeing to the terms of this License Agreement and the use of the Website and the Product constitutes valuable, confidential, proprietary information of The Kid Report and its licensors, and you agree that during the term of this License Agreement and thereafter you shall not, without the express written consent of The Kid Report, use or disclose to any other person any such Confidential Information, except as specifically authorized under this License Agreement or as required by applicable law.

      %p For the purposes of this License Agreement, “Confidential Information” means any and all data, information, documents, software or materials relating to the Product, business and management of The Kid Report, its members, affiliates, licensors or licensees, that is designated as confidential or ought reasonably to be considered confidential, including but not limited to: their business model and operations, processes, service , designs, pricing, promotions, business plans, business opportunities, finances, research, development, know-how, trade-secrets, training materials, personnel, clients, methodologies, site content belonging to others and other intellectual property.  

 

    %li 
      %p Indemnity

      %p You agree to indemnify, defend and hold harmless The Kid Report, its licensees and its licensors, and all of their respective directors, officers, employees, shareholders, creditors, partners and agents (collectively, the "The Kid Report Parties") from and against any and all claims, liability, losses, costs and expenses (including attorneys’ fees) incurred by any The Kid Report Party in connection with: (i) any use or alleged use of the Website or the Product under your account, whether or not authorized by you; or (ii) resulting from any Submission made or Content uploaded or embedded under your account; or (iii) any breach by you or your agent of this License Agreement or the Terms of Use of the Website. The Kid Report reserves the right, at your expense, to assume the exclusive defense and control of any matter otherwise subject to indemnification by you, and in such case, you agree to cooperate with The Kid Report' defense of such claim.

 

    %li 
      %p Limited Warranty

      %p The Kid Report warrants that the Product will perform in substantial compliance with its specifications and be free of material defects and will not infringe on the intellectual property rights of any third party. As your sole and exclusive remedy for this warranty, The Kid Report will repair the Product. This limited warranty does not cover any material defect or infringement resulting from any accident, abuse, unauthorized alteration, or misapplication of the Product caused by you, your employees, end users, agents, or contractors or any modification made by you or your employees.  

 

    %li 
      %p Right to Verify Compliance with License Agreement

      %p The Kid Report reserves the right to monitor its server logs for access made by you, or access using any access code issued to you, to the website or use of the Product or to investigate any conduct we believe may be a breach of the licensing terms or may be otherwise threatening to the integrity of the Product.

 

    %li 
      %p Term and Termination

      %p The term of this License Agreement shall remain in effect for as long as the Product is used, accessed, or stored on your computer (or network, if applicable), unless earlier terminated in accordance with this License Agreement. You may terminate this License Agreement at any time by emailing info@thekidreport.org or by such other means of written notice acceptable to The Kid Report which enables confirmation of your identity and your intention to terminate.

      %p At any time, The Kid Report shall have the right to terminate this License Agreement with thirty (30) days’ notice, if The Kid Report determines in its sole discretion that it will discontinue providing the Product or if a new Product or services have been provided as a replacement. Notice shall be considered adequate if posted on The Kid Report’ website. 

      %p The Kid Report may also terminate or suspend your access to the licensed portions of the Website for inactivity, which is defined as failing to access the licensed portions of the Website for an extended period of time, as reasonably determined by The Kid Report.

      %p Termination of this License Agreement does not relieve you of your obligations to not use the licensed portions of the Website or any Content other than in the manner permitted under this License Agreement. Termination of this License Agreement shall operate without prejudice to the The Kid Report’ rights, defenses and limitations of liability provided under this License Agreement, which rights, defenses and limitations of liability shall survive termination of this License Agreement.

 

    %li 
      %p Notice and Service of Process

      %p You consent to service of any required notice or process upon you by email, registered mail or overnight courier with proof of delivery notice, addressed to the address or contact information provided by you at the time you are first granted access to the licensed portions of the Website, or such other address as you may advise us in writing to use, from time to time. 


    %li 
      %p General

      %p You specifically agree and acknowledge that you have, in addition to the terms of this License Agreement, reviewed the terms of the Terms of Use and any other agreements which may be incorporated by reference therein, and to the extent of their incorporation herein you agree to be bound by them.

      %p Any failure by The Kid Report’ to insist upon or enforce strict performance of any provision of this License Agreement shall not be construed as a waiver of any provision or right.

      %blockquote  YOU ACKNOWLEDGE THAT YOU HAVE READ THIS LICENSE AGREEMENT, UNDERSTAND IT, AND AGREE TO BE BOUND BY ITS TERMS AND CONDITIONS. YOU FURTHER AGREE THAT IT IS THE COMPLETE AND EXCLUSIVE STATEMENT OF THE AGREEMENT BETWEEN YOU AND THE KID REPORT, WHICH SUPERSEDES ANY PROPOSAL OR PRIOR AGREEMENT, ORAL OR WRITTEN, AND ANY OTHER COMMUNICATION BETWEEN YOU AND THE KID REPORT RELATING TO THE SUBJECT OF THIS LICENSE AGREEMENT.