- @page_title = 'The Kid Report Tour'
%table.framework
  %tr
    %td.left
      .shadow_box
        .chevron
          %h4 Content
        %p
          It's easy to create and edit pages, and they can be used for anything.  List needed classroom supplies, provide details for next field-trip, or layout the steps for an upcoming class assignment.
        %p{:style => "text-align:center"}
          = image_tag 'walkthrough/pages.png'
      .shadow_box
        .chevron
          %h4 Calendar
        %p
          Create a calendar of events for the year.  Send reminders about events to keep everyone up-to-date.
        %p{:style => "text-align:center"}
          = image_tag 'walkthrough/calendar.png'
    %td.right
      .shadow_box
        .chevron
          %h4 Privacy
        %p
          Sites are naturally private.  Only members are allowed to see the contents of a site.  Editors and Administrators have additional privileges.
          %br
        %p{:style => "text-align:center"}
          = image_tag 'walkthrough/memberships.png'
      .shadow_box
        .chevron
          %h4 Email
        %p
          Send messages to the members of your site.  Never lose an email address.
          %br
        %p{:style => "text-align:center"}
          = image_tag 'walkthrough/messages.png'
      .shadow_box
        .chevron
          %h4 Documents
        %p
          Upload documents.  Photos can be used to decorate pages.  Any file can be attached to a page to make it easy for parents to download and print the information they need.
