<% @page_title = 'The Kid Report Tour' %>

<table class="framework"><tr><td class="left">
  
<div class="shadow_box">
  
  <div class="chevron">
  <h4>Content</h4>
  </div>
<p>
	It's easy to create and edit pages.  Create pages for your needed classroom supplies, the next field-trip, or details around an upcoming assignment.
</p>
<p style="text-align:center">
	<%= image_tag 'walkthrough/pages.png' %>
</p>
</div>

<div class="shadow_box">
<div class="chevron">
<h4>Calendar</h4>
</div>

<p>
	Create a calendar of events for the year.  It's easy to access and view for parents and reminders are sent automatically.
</p>
<p style="text-align:center">
	<%= image_tag 'walkthrough/calendar.png' %>
</p>

</div>
</td><td class="right">
  
<div class="shadow_box">
<div class="chevron">
<h4>Privacy</h4>
</div>
<p>
	Add members to your site.   Make them "editors" or "administrators" so they can help keep the site up-to-date.<br>
</p>
<p style="text-align:center">
	<%= image_tag 'walkthrough/memberships.png' %>
</p>

</div>
<div class="shadow_box">
<div class="chevron">
<h4>Email</h4>
</div>
<p>
Send messages to the members of your site.  Never lose an email address.<br>
</p>
<p style="text-align:center">
	<%= image_tag 'walkthrough/messages.png' %>
</p>

</div>
<div class="shadow_box">
<div class="chevron">
<h4>Documents</h4>
</div>
<p>
	Upload documents.  Photos can be used to decorate pages.  Any file can be attached to a page to make it easy for parents to download and print the information they need.
</p>

</div>
</td></tr></table>