<% @page_title = 'Build a website for Teachers and Parents' %>

<p>
	There are just a few features in the kid report - limited to make it simple to use, but handle the most common issues teachers and parents have.
<p/>

<table class="framework"><tr><td>
<h3>Create Pages</h3>
<p>
	It's easy to create and edit pages.<br>
	<%= image_tag 'walkthrough/pages.png'%>
</p>



<h3>Documents</h3>
<p>
	Upload documents.  Photos can be used to decorate pages.  Any document can be attached to a page to make it easy for parents to find the documents they need.
</p>

</td><td>
<h3>Memberships</h3>
<p>
	Add members to your site.   Make them "editors" or "administrators" so they can help keep the site up-to-date.<br>
	<%= image_tag 'walkthrough/memberships.png' %>
</p>


<h3>Messages</h3>
<p>
Send messages to the members of your site.  Never lose an email address.<br>
	<%= image_tag 'walkthrough/messages.png' %>
</p>

</td></tr></table>